* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.display_none {
    display: none;
}

.main__carousel {
    margin: 50px auto 0 auto;
}

.carousel {
    width: 50vw;
    max-width: 700px;
}

.slider-wrapper {
    width: calc(100% - 8px);
    overflow: hidden;
    border-radius: 8px;
    border: 4px solid #eceff1;
    box-sizing: content-box;
    height: 34vw;
    max-height: 470px;
}

.slider-wrapper__slider {
    display: flex;
    transition-duration: .8s;
    width: 400%;
    transform: translateZ(0);
    height: 100%;
}

.slider-wrapper__image-wrapper {
    height: 100%;
    width: 25%; 
}

.slider-wrapper__image {
    width: 100%;
    height: 100%;
}

#two:checked ~ 
.slider-wrapper
.slider-wrapper__slider {
    transform: translateX(-25%);
}

#three:checked ~ 
.slider-wrapper
.slider-wrapper__slider {
    transform: translateX(-50%);
}

#four:checked ~ 
.slider-wrapper
.slider-wrapper__slider {
    transform: translateX(-75%);
}

.carousel__services {
    display: flex;
    justify-content: space-between;
    margin-top: min(5vw, 35px);
    width: 100%;
    padding: 0 5%;
}

.subtitles-carousel {
    width: 60%;
    height: 100px;
}

.subtitle-carousel__slider-wrapper {
    width: 100%;
    overflow: hidden;
    height: 100%
}

.subtitle-carousel__slider {
    transition-duration: .8s;
    display: flex;
    width: 400%;
    height: 100%;
}

.subtitle-carousel__subtitle {
    width: 25%;
    height: 100%;
    font-size: 1rem;
}

#two:checked ~
.carousel__services
.subtitle-carousel__slider {
    transform: translateX(-25%);
}

#three:checked ~
.carousel__services
.subtitle-carousel__slider {
    transform: translateX(-50%);
}

#four:checked ~
.carousel__services
.subtitle-carousel__slider {
    transform: translateX(-75%);
}

.carousel__labels {
    font-size: 0;
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.carousel__label {
    width: 26px;
    height: 26px;
    display: block;
    position: relative;
    cursor: pointer;
}

.carousel__label::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px solid gray;
    border-radius: 50%;
    position: relative;
    left: 1px;
    top: 1px;
    box-sizing: border-box;
}

.carousel__label::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
    box-sizing: border-box;
}

#one:checked ~
.carousel__services  
.carousel__label:nth-child(1)::after {
    background-color: rgb(38, 222, 255);
}

#two:checked ~
.carousel__services  
.carousel__label:nth-child(2)::after {
    background-color: rgb(38, 222, 255);
}

#three:checked ~
.carousel__services  
.carousel__label:nth-child(3)::after {
    background-color: rgb(38, 222, 255);
}

#four:checked ~
.carousel__services  
.carousel__label:nth-child(4)::after {
    background-color: rgb(38, 222, 255);
}


#one:active ~
.carousel__services  
.carousel__label:nth-child(1)::after {
    background-color: rgb(132, 226, 242);
}

#two:active ~
.carousel__services  
.carousel__label:nth-child(2)::after {
    background-color: rgb(132, 226, 242);
}

#three:active ~
.carousel__services  
.carousel__label:nth-child(3)::after {
    background-color: rgb(132, 226, 242);
}

#four:active ~
.carousel__services  
.carousel__label:nth-child(4)::after {
    background-color: rgb(132, 226, 242);
}



@media screen and (min-width: 520px) {
    .carousel__label:hover::after {
        background-color: rgb(77, 212, 235);
    }
}

@media screen and (max-width: 768px) and (min-width: 520px) {
    html {
        font-size: 16px;
    }
}


@media screen and (max-width: 520px) {
    .carousel {
        width: 90vw;
    }

    
    .slider-wrapper {
        height: 60vw;
    }

    .carousel__services {
        flex-direction: column;   
        margin-top: 25px;
    }

    .subtitles-carousel {
        width: 100%;
    }

    .carousel__labels {
        order: -1;
        width: 100%;
        justify-content: center;
        margin-bottom: 25px;
    }

    .carousel__label {
        width: 24px;
        height: 24px;
        margin-left: 6px;
    }

    .carousel__label:first-child {
        margin-left: 0;
    }
    
    .carousel__label::before {
        width: 19px;
        height: 19px;
        left: 2px;
        top: 2px;
    }
    
    .carousel__label::after {
        width: 11px;
        height: 11px;
        left: 6px;
        top: 6px;
    }
}