img {
    width: 600px;
    height: 400px;
}

.slider-wrapper__image-wrapper {
    z-index: -1;
}

/* -------------------------------- */
* {
    box-sizing: border-box;
}

.display_none {
    display: none;
}

.main__carousel {
    margin: 50px auto;
}

.carousel {
    width: 600px;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    border: 4px solid #eceff1;
    height: 400px;
}

.slider-wrapper__slider {
    display: flex;
    position: relative;
    left: 0;
    transition-duration: .8s;
}

#two:checked ~ 
.slider-wrapper
.slider-wrapper__slider {
    transform: translateX(-600px);
}

#three:checked ~ 
.slider-wrapper
.slider-wrapper__slider {
    transform: translateX(-1200px);
}

#four:checked ~ 
.slider-wrapper
.slider-wrapper__slider {
    transform: translateX(-1800px);
}

.carousel__services {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.subtitles-carousel {
    width: 300px;
    height: 70px;
    text-align: center;
}

.subtitle-carousel__slider-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.subtitle-carousel__slider {
    position: relative;
    left: 0;
    transition-duration: .8s;
    display: flex;
    width: 1600px;
    height: 100%;
}

.subtitle-carousel__subtitle {
    width: 300px;
    height: 100%;
    font-size: 20px;
    line-height: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#two:checked ~
.carousel__services
.subtitle-carousel__slider {
    transform: translateX(-300px);
}

#three:checked ~
.carousel__services
.subtitle-carousel__slider {
    transform: translateX(-600px);
}

#four:checked ~
.carousel__services
.subtitle-carousel__slider {
    transform: translateX(-900px);
}

.carousel__labels {
    font-size: 0;
}

.carousel__label {
    width: 26px;
    height: 26px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0 6px;
}

.carousel__label::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px solid gray;
    border-radius: 50%;
    position: relative;
    left: 1px;
    top: 1px;
    box-sizing: border-box;
}

.carousel__label::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
    box-sizing: border-box;
}

#one:checked ~
.carousel__services  
.carousel__label:nth-child(1)::after {
    background-color: rgb(38, 222, 255);
}

#two:checked ~
.carousel__services  
.carousel__label:nth-child(2)::after {
    background-color: rgb(38, 222, 255);
}

#three:checked ~
.carousel__services  
.carousel__label:nth-child(3)::after {
    background-color: rgb(38, 222, 255);
}

#four:checked ~
.carousel__services  
.carousel__label:nth-child(4)::after {
    background-color: rgb(38, 222, 255);
}


#one:active ~
.carousel__services  
.carousel__label:nth-child(1)::after {
    background-color: rgb(132, 226, 242);
}

#two:active ~
.carousel__services  
.carousel__label:nth-child(2)::after {
    background-color: rgb(132, 226, 242);
}

#three:active ~
.carousel__services  
.carousel__label:nth-child(3)::after {
    background-color: rgb(132, 226, 242);
}

#four:active ~
.carousel__services  
.carousel__label:nth-child(4)::after {
    background-color: rgb(132, 226, 242);
}



@media screen and (min-width: 720px) {
    .carousel__label:hover::after {
        background-color: rgb(77, 212, 235);
    }
}
